streamlit
bcrypt
python-dotenv
numpy
matplotlib
scipy
openai
vaderSentiment
audio-recorder-streamlit
streamlit-mic-recorder
spacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_sm-0.5.4.tar.gz
azure-cognitiveservices-speech
pydub
PyPDF2
SpeechRecognition
openai-whisper
fpdf
